.logo{
    height: 80px;
}
.navbar{

    position: fixed !important;
    width: -webkit-fill-available;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}