.Paper-Div, .Faculty-Management-div {
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    padding-top: 10%
}

.Info-Paper {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px
}

.Info-Title {
    text-align: center;
}

/* .Edit-info, .ChangePassword {
    float: right;
} */

.Faculty-Management-View {
    margin: auto;
    margin-left: 10%;
    width: 90%;
    /* border: 3px solid green; */
    padding: 10px
}

.Comment {
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.aprove {
    background: #3cd1c2 !important;
}

.notapprove {
    background: #f83e70 !important;
}

@media only screen and (min-width:320px) {
    .Paper-Div {
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
        padding-top: 50%;
        padding-left: 10%;
    }
    .Info-Paper {
        margin: auto;
        width: 70%;
        /* border: 3px solid green; */
        padding: 10px
    }
    .Edit-info, .ChangePassword {
        font-size: 8px !important;
        float: right;
        /* width: 20% */
    }
    .myLabelClass {
        font-size: 20px
    }
}

@media  (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .Paper-Div {
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
        padding-top: 25%
    }
    .Info-Paper {
        margin: auto;
        width: 50%;
        float: center;
        /* border: 3px solid green; */
        padding: 10px
    }
    .Edit-info, .ChangePassword {
        float: right;
        /* width: 20% */
    }
}
@media only screen and (min-width:1024px) {
    .Paper-Div {
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
        padding-top: 15%
    }
    .Info-Paper {
        margin: auto;
        width: 50%;
        float: center;
        /* border: 3px solid green; */
        padding: 10px
    }
}

@media (min-width:1281px) {
    .Paper-Div {
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
        padding-top: 15%
    }
    .Info-Paper {
        margin: auto;
        width: 50%;
        float: center;
        /* border: 3px solid green; */
        padding: 10px
    }
    .Edit-info, .ChangePassword {
        font-size: 15px !important;
        /* width: 20% */
    }
}