.slogan-div{
    padding-top: 25%;
    

}
.slogan-text{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    line-height: 1.4;
    display: block;
}
.login-div{
    margin-top: 10%
}
.Email-input,.Password{
   
    width: 100%;
}